In [1]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series(np.arange(5),index=list('aabcs'))

In [3]:
obj

a    0
a    1
b    2
c    3
s    4
dtype: int64

In [4]:
obj.index.is_unique

False

In [5]:
obj['a']

a    0
a    1
dtype: int64

In [6]:
obj['b']

2

In [7]:
df = pd.DataFrame(np.random.randn(4,3), index = list('aabb'))

In [8]:
df

          0         1         2
a -0.477545  1.432585 -0.019633
a -0.332549  0.494142 -0.581292
b  0.487015 -0.655720  1.075588
b  1.082084 -1.826018  0.278845

In [9]:
df[2]

a   -0.019633
a   -0.581292
b    1.075588
b    0.278845
Name: 2, dtype: float64

In [14]:
df.loc['b']

          0         1         2
b  0.487015 -0.655720  1.075588
b  1.082084 -1.826018  0.278845