In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
 frame = pd.DataFrame(np.random.rand(4,3),columns = list('bde'), index = list('UOTO')  )

In [4]:
frame

          b         d         e
U  0.472568  0.205700  0.886738
O  0.336990  0.494028  0.388637
T  0.440749  0.660431  0.412639
O  0.466939  0.223286  0.266724

In [5]:
np.abs(frame)

          b         d         e
U  0.472568  0.205700  0.886738
O  0.336990  0.494028  0.388637
T  0.440749  0.660431  0.412639
O  0.466939  0.223286  0.266724

In [6]:
frame

          b         d         e
U  0.472568  0.205700  0.886738
O  0.336990  0.494028  0.388637
T  0.440749  0.660431  0.412639
O  0.466939  0.223286  0.266724

In [9]:
f = lambda x :x.max() - x.min()
frame.apply(f)

b    0.135577
d    0.454731
e    0.620014
dtype: float64

In [10]:
frame.mean()

b    0.429312
d    0.395861
e    0.488685
dtype: float64

In [12]:
frame.max()

b    0.472568
d    0.660431
e    0.886738
dtype: float64

In [13]:
frame.min()

b    0.336990
d    0.205700
e    0.266724
dtype: float64

In [14]:
frame.sum()

b    1.717246
d    1.583444
e    1.954739
dtype: float64

In [15]:
def f(x):
    return pd.Series([x.min(), x.max()] ,index = ['min','max'])

In [16]:
frame.apply(f)

            b         d         e
min  0.336990  0.205700  0.266724
max  0.472568  0.660431  0.886738

In [17]:
frame

          b         d         e
U  0.472568  0.205700  0.886738
O  0.336990  0.494028  0.388637
T  0.440749  0.660431  0.412639
O  0.466939  0.223286  0.266724

In [18]:
def cus(x):
    return pd.Series([x.min(),x.max(),x.sum(),x.mean()] ,index=['min','max','sum','mean'])

In [19]:
frame.apply(cus)

             b         d         e
min   0.336990  0.205700  0.266724
max   0.472568  0.660431  0.886738
sum   1.717246  1.583444  1.954739
mean  0.429312  0.395861  0.488685

In [30]:
format = lambda x: '%.2f' %x

In [31]:
frame.applymap(format)

      b     d     e
U  0.47  0.21  0.89
O  0.34  0.49  0.39
T  0.44  0.66  0.41
O  0.47  0.22  0.27