In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

     总结  
     1 reindex            : 按照新的索引 进行排序
     2 method(ffill)     : 再重新排序时 可能会需要进行插值或填值  按照原则: (先排序 根据排序完成的序列 选择前项)前项填充 即 当前对用空白value 的索引 取前面索引对应values

In [7]:
obj = pd.Series([1.1,3.3,5.5],index= ['a','b','c'])

In [8]:
obj

a    1.1
b    3.3
c    5.5
dtype: float64

In [10]:
obj2 = obj.reindex(['c','b','a','e'])

In [11]:
obj2

c    5.5
b    3.3
a    1.1
e    NaN
dtype: float64

In [13]:
obj3 = obj.reindex(['c','b','a','e'],method='ffill')

In [15]:
obj3

c    5.5
b    3.3
a    1.1
e    5.5
dtype: float64

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
frame = pd.DataFrame(np.arange(9).reshape(3,3), index = ['a','c','e'],columns=['Phia','Texas','California'])

In [4]:
frame

   Phia  Texas  California
a     0      1           2
c     3      4           5
e     6      7           8

In [8]:
frame2  = frame.reindex(['a','c','e','d'])

In [9]:
frame2

   Phia  Texas  California
a   0.0    1.0         2.0
c   3.0    4.0         5.0
e   6.0    7.0         8.0
d   NaN    NaN         NaN

In [10]:
status  = ['Texas','Utah','California']

In [11]:
frame.reindex(columns=status)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
e      7   NaN           8

In [13]:
frame.loc[['a','b','c','d'], status]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    NaN   NaN         NaN

     reindex 方法的参数
     参数         描述
     index        新建作为索引的序列, 可以是索引实例或任意其他序列型Python 数据结构,索引使用时无需辅助
     method     插值方式  ffil : 前向填充  bfil : 后向填充
     fill_value    通过重新索引 引入缺失数据时的 替代值
     limit         当前向填充或者后向填充时  所需填充得把最大尺寸间隙(以元素数量)
     tolerance  当前向或后向填充时 所需填充的不精确匹配下的最大尺寸间隙(以绝对数字距离)
     level         匹配Multiindex 级别的简单索引, 否则选择子集