In [1]:
import pandas as pd
import numpy as np

     目的 : 定向替代 替代单个值 以及多个值 以及 多个值替代成一个值 或者 多个值替代成多个值
     工具: .replace(x,x1)  .replace([x,x1],x2) .replace([x,x1],[y,y2]) .replace({ x:y,x1:y1 })

In [2]:
data = pd.Series([1,999,2,999,1000,4])

In [3]:
data

0       1
1     999
2       2
3     999
4    1000
5       4
dtype: int64

In [4]:
data.replace(999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4    1000.0
5       4.0
dtype: float64

In [5]:
data.replace([999,1000],np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [6]:
data.replace([999,1000],[np.nan,'010'])

0      1
1    NaN
2      2
3    NaN
4    010
5      4
dtype: object

In [7]:
data.replace({999:np.nan,1000:8888})

0       1.0
1       NaN
2       2.0
3       NaN
4    8888.0
5       4.0
dtype: float64