          目的 :   
          工具 : 
           df -> np.sign()  根据数据正负生成 1 -1 组成 df
           pd. -> describe()  生成 包含 count mean std min max 25% 50% 75%

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
data = pd.DataFrame(np.random.randn(3,4))

In [8]:
data

          0         1         2         3
0 -1.233922  0.965652 -0.941605 -0.157695
1 -0.464421 -0.119556 -0.548297 -0.978645
2  1.065338  0.054452  0.036235 -0.417724

In [9]:
data.describe()

              0         1         2         3
count  3.000000  3.000000  3.000000  3.000000
mean  -0.211002  0.300183 -0.484556 -0.518022
std    1.170391  0.582844  0.492026  0.419565
min   -1.233922 -0.119556 -0.941605 -0.978645
25%   -0.849171 -0.032552 -0.744951 -0.698185
50%   -0.464421  0.054452 -0.548297 -0.417724
75%    0.300459  0.510052 -0.256031 -0.287710
max    1.065338  0.965652  0.036235 -0.157695

In [13]:
col = data[2]
col[np.abs(col) > 0.5]

0   -0.941605
1   -0.548297
Name: 2, dtype: float64

In [16]:
bool_df = np.abs(data) > 0.5

In [17]:
bool_df

       0      1      2      3
0   True   True   True  False
1  False  False   True   True
2   True  False  False  False

In [18]:
data[bool_df]

          0         1         2         3
0 -1.233922  0.965652 -0.941605       NaN
1       NaN       NaN -0.548297 -0.978645
2  1.065338       NaN       NaN       NaN

In [19]:
data[bool_df.any(1)]

          0         1         2         3
0 -1.233922  0.965652 -0.941605 -0.157695
1 -0.464421 -0.119556 -0.548297 -0.978645
2  1.065338  0.054452  0.036235 -0.417724

In [20]:
data

          0         1         2         3
0 -1.233922  0.965652 -0.941605 -0.157695
1 -0.464421 -0.119556 -0.548297 -0.978645
2  1.065338  0.054452  0.036235 -0.417724

In [23]:
np.sign(data)

     0    1    2    3
0 -1.0  1.0 -1.0 -1.0
1 -1.0 -1.0 -1.0 -1.0
2  1.0  1.0  1.0 -1.0

In [24]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0 -1.0 -1.0
1 -1.0 -1.0 -1.0 -1.0
2  1.0  1.0  1.0 -1.0

In [25]:
data[np.abs(data) > 0.5] = np.sign(data)*5

In [26]:
data

          0         1         2         3
0 -5.000000  5.000000 -5.000000 -0.157695
1 -0.464421 -0.119556 -5.000000 -5.000000
2  5.000000  0.054452  0.036235 -0.417724