In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

        目的 : 使用numpy.random.permutation 对 DataFrame 中的 Series 进行置换  调用permutation 可以根据周长度产生一个标示新顺序的著述数组
        工具 : .permutation  .sample
         permutation 会生成不重复的 设定数目的连续的随机证书
        eg: in :  np.random.permutation(3)  
             out:  arrat([0,2,1])

In [2]:
df = pd.DataFrame(np.arange(20).reshape(4,5))

In [3]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [7]:
sampler = np.random.permutation(4)

In [8]:
sampler

array([0, 2, 1, 3])

In [9]:
df.take(sampler)

    0   1   2   3   4
0   0   1   2   3   4
2  10  11  12  13  14
1   5   6   7   8   9
3  15  16  17  18  19

In [10]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [28]:
df.sample(n=2)

    0   1   2   3   4
1   5   6   7   8   9
3  15  16  17  18  19

In [26]:
df.sample(n=3)

    0   1   2   3   4
0   0   1   2   3   4
2  10  11  12  13  14
1   5   6   7   8   9

In [29]:
choices = pd.Series([1,4,7,-6,2,7])
draws = choices.sample(n=10,replace=True)

In [30]:
draws

3   -6
2    7
2    7
3   -6
2    7
3   -6
4    2
1    4
0    1
3   -6
dtype: int64