In [3]:
import  pandas  as pd 
import numpy as np

In [9]:
data = pd.DataFrame( {'foot':"bacon pliied_port bacon Pastrami corned_beef Bacon pastrami honey_ham noval_lox".split(' '), 
                      'ounces':"4 3 12 6 7.5 8 3 5 6".split(" ")} )

In [10]:
data

          foot ounces
0        bacon      4
1  pliied_port      3
2        bacon     12
3     Pastrami      6
4  corned_beef    7.5
5        Bacon      8
6     pastrami      3
7    honey_ham      5
8    noval_lox      6

In [11]:
meat_to_animal = {
    'bacon':'pig',
    'pulled_pork':'pig',
    'pastrami':'cow',
    'cornerd_beef':'cow',
    'honey_ham':'pig',
    'nava_lox':'pig'
}

lasdflwf